@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;800&display=swap");

.header_appBar {
  background-color: transparent !important;
  box-shadow: none !important;
  position: relative !important;
}

.header_appBar::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  filter: blur(20px) !important;
  z-index: -1 !important; /* Coloca el pseudo-elemento detrás del contenido */
}

.boton_navbar_desktop {
  font-family: "Geologica", sans-serif !important;
  font-weight: 100 !important ;
  text-decoration: none;
  text-transform: uppercase;
  color: pink;
  transition: all 0.3s ease;
}

.boton_navbar_desktop:hover {
  text-decoration: underline;
  color: white;
  text-shadow: 0 0 10px #5f0f5b, 0 0 20px #5f0f5b, 0 0 30px #5f0f5b;
  text-shadow: 0 0 10px var(--loulou), 0 0 20px var(--loulou),
    0 0 30px var(--loulou);
}

.menu_hamburg {
  background-image: url("../../../assets/nubes-bg-menu.png");
  width: 100%;
}

.menu_hamburg > div:nth-child(3) {
  background-color: transparent;
  width: 100%;
  color: white;
}

.menuItem_hamburg {
  background-color: transparent !important;
  margin: 15px !important;
}

@media (max-width: 900px) {
  .parrafo_front {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 600px) {
}

.anchorList {
  font-size: 22px;
  /* text-align: center; */
  text-decoration: none;
  color: white;
}
