.prueba {
  width: 80%;
  min-height: 70vh;
  background-image: url(../../../assets//bbblurry.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  color: pink;
  gap: 1.5rem;
  margin: 0 auto;
}

.card_project {
  border: solid salmon 1px;
  margin: 1rem;
  background-color: rgba(1, 1, 1, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  border-radius: 12px;
}

.img_project {
  width: 100%;
  border-radius: 10px;
}

.listado_ul_tecs {
  list-style-type: none;
}
